In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# import networkx as nx
from graph_tool.all import *

/home/dimitri/anaconda3/lib/python3.5/site-packages/graph_tool/draw/cairo_draw.py:1476: RuntimeWarning: Error importing Gtk module: No module named 'gi'; GTK+ drawing will not work.
  warnings.warn(msg, RuntimeWarning)

In [2]:
usage = pd.read_csv("usage.csv")
usage.head()

   UserID  ItemID                 Date      Type
0  905395    3556  2011-03-10T13:48:23  Purchase
1  908217    3555  2011-03-11T18:48:02  Purchase
2  952948    3555  2011-03-21T09:30:18  Purchase
3   42521    3555  2011-04-07T14:37:41  Purchase
4  179483    3555  2011-05-12T11:30:08  Purchase

In [3]:
catalog = pd.read_csv("catalog.csv",
                      names=['ID', 'Titre', 'Catégorie',
                             'Précisions1', 'Précisions2', 'Précisions3', 'Précisions4'],
                     skiprows=1)
catalog.head()

,ID,Titre,Catégorie,Précisions1,Précisions2,Précisions3,Précisions4
0,3554,Album d'exposition François Morellet réinstall...,216,12=Ouvrage broché,13=Français/Anglais,NaN,NaN
1,3551,Catalogue d'exposition Interware design transv...,216,12=Ouvrage broché,13=Français,NaN,NaN
2,3550,Les verres antiques du musée du Louvre - Tome III,135,13=Français,NaN,NaN,NaN
3,3549,Catalogue d'exposition le théâtre des passions...,216,12=Ouvrage broché,13=Français,NaN,NaN
4,117,Gloires de marbres. Trois siècles de portraits.,179,6=Editions 5 Continents,12=Relié,13=Français,NaN

In [4]:
catalog['Précisions1'] = catalog['Précisions1'].astype(str).map(lambda s: s.split('=')[0])
catalog['Précisions1'] = pd.to_numeric(catalog['Précisions1'], errors='coerce')
catalog['Précisions2'] = catalog['Précisions2'].astype(str).map(lambda s: s.split('=')[0])
catalog['Précisions2'] = pd.to_numeric(catalog['Précisions2'], errors='coerce')
catalog['Précisions3'] = catalog['Précisions3'].astype(str).map(lambda s: s.split('=')[0])
catalog['Précisions3'] = pd.to_numeric(catalog['Précisions3'], errors='coerce')
catalog['Précisions4'] = catalog['Précisions4'].astype(str).map(lambda s: s.split('=')[0])
catalog['Précisions4'] = pd.to_numeric(catalog['Précisions4'], errors='coerce')
catalog.head()

,ID,Titre,Catégorie,Précisions1,Précisions2,Précisions3,Précisions4
0,3554,Album d'exposition François Morellet réinstall...,216,12.0,13.0,NaN,NaN
1,3551,Catalogue d'exposition Interware design transv...,216,12.0,13.0,NaN,NaN
2,3550,Les verres antiques du musée du Louvre - Tome III,135,13.0,NaN,NaN,NaN
3,3549,Catalogue d'exposition le théâtre des passions...,216,12.0,13.0,NaN,NaN
4,117,Gloires de marbres. Trois siècles de portraits.,179,6.0,12.0,13.0,NaN

In [5]:
g = Graph()
for i in range(catalog.ID.size):
    g.add_vertex()

In [6]:
for i in range(catalog.ID.size):
    for j in range(catalog.ID.size):
        if (i != j & np.intersect1d(catalog.iloc[i, 3:7], catalog.iloc[i, 3:7]).size > 0):
            g.add_edge(g.vertex(i), g.vertex(j))

In [7]:
g.save("catalograph.gt")

In [8]:
g.save("catalograph.xml")

In [9]:
load_graph("catalograph.gt")

In [10]:
g